@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in Task Manager</h1>

    @if (SignInManager.IsSignedIn(User))
    {
        <p>To make, display and manage your tasks, please <a asp-action="Index" asp-controller="RealLifeTasks">click here</a></p>
    }
    else
    {
        <p>To make, display and manage your tasks, please <a asp-area="Identity" asp-page="/Account/Login">Login</a> or if you do not have an account, please <a asp-area="Identity" asp-page="/Account/Register">Register</a></p>
    }
</div>
